body{
  text-align: center;
  margin: 0;
  min-width: 200px;
  max-width: 500px;
  margin: auto auto;
  background: darkslategrey;
}
.status{
 background-color: #10A95B;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F9F4DA;
    border-radius: 4px;
    margin-block: 30px;

}
.game-status{
  font-size: larger;
  font-weight: bolder;
  margin-bottom: -5px;
}
.languages{
   display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    /* max-width: 350px;
    margin-bottom: 36px; */
}

span.chip{
  border-radius: 2px;
}
span.chip.lost {
    position: relative;
    /* Optional: Prevents the pseudo-element from spilling out if corners are rounded */
    overflow: hidden; 
}
span.chip.lost::before{
   content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.letter-guesses{

  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.letter-guesses>span{
   height: 35px;
    width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(26, 33, 33, 0.842);
  border-bottom: 3px solid white;
}

.keyboard{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 450px;
  margin-bottom: 36px;
}
.keyboard>button{
   height: 35px;
    width: 35px;
    background-color: #FCBA29;
    border: 1px solid #D7D7D7;
    border-radius: 3px;
    cursor: pointer;
}
button.correct{
  background-color: #10A95B;
}
button.wrong{
  background-color: crimson;
}
.newgame{
  background-color: lightblue;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bolder;
  font-family: cursive;
}
